.order {
    background-color: var(--background);
    border-radius: 40px;
    cursor: pointer;
}

.order__number-and-date-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.order__number {
}

.order__date {
    text-align: right;
}

.order__title {
}
