.burger-constructor {
    display: grid;
    grid-template-rows: minmax(0, 1fr) max-content;
}

.burger-constructor_is-empty .burger-constructor__list,
.burger-constructor_is-can-drop .burger-constructor__list {
    outline: 1px dashed var(--colors-interface-accent);
}

.burger-constructor_is-can-drop.burger-constructor_is-drag-over .burger-constructor__list {
    outline-style: solid;
}

.burger-constructor_is-drag-over:not(.burger-constructor_is-can-drop) .burger-constructor__list {
    outline-color: var(--colors-interface-error);
}

.burger-constructor__list {
    display: grid;
    grid-template-rows: repeat(2, max-content) 1fr repeat(2, max-content);
    max-height: 100%;
}

.burger-constructor__filling {
    overflow-y: scroll;
}

.burger-constructor__filling {
    scrollbar-color: var(--background-element) var(--text-inactive-color);
    scrollbar-width: thin;
}

.burger-constructor__filling::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

.burger-constructor__filling::-webkit-scrollbar-track {
    background: var(--background-element);
}

.burger-constructor__filling::-webkit-scrollbar-thumb {
    background: var(--text-inactive-color);
    border: 3px solid var(--background-element);
    border-radius: 6px;
}

.burger-constructor__total-wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: flex-end;
}

.burger-constructor__order-details {
    width: 520px;
}

