.ingredients-and-price {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr min-content min-content;
}

.ingredients-and-price__ingredients {
    display: flex;
    list-style: none;
    margin: 0 0 0 14px;
    padding: 0;
}

.ingredients-and-price__ingredient {
    margin-left: -14px;
}

.ingredients-and-price__ingredient:nth-child(1) {
    z-index: 6;
}

.ingredients-and-price__ingredient:nth-child(2) {
    z-index: 5;
}

.ingredients-and-price__ingredient:nth-child(3) {
    z-index: 4;
}

.ingredients-and-price__ingredient:nth-child(4) {
    z-index: 3;
}

.ingredients-and-price__ingredient:nth-child(5) {
    z-index: 2;
}

.ingredients-and-price__ingredient:nth-child(6) {
    z-index: 1;
}

.ingredients-and-price__price {
}
