.burger-constructor-item {
    align-items: center;
    display: grid;
    grid-template-columns: 32px 24px 1fr;
}

:local .burger-constructor-item :global .constructor-element__image {
    pointer-events: none;
}

.burger-constructor-item__constructor-element-wrapper {
    display: flex;
}

.burger-constructor-item__constructor-element-wrapper > * {
    flex-grow: 1;
}

:local .burger-constructor-item__constructor-element-wrapper :global .constructor-element__text {
    flex-grow: 1;
}

.burger-constructor-item_interactive .burger-constructor-item__constructor-element-wrapper {
    cursor: pointer !important;
}
