.placed-order-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placed-order-details__id {
    text-shadow: 0 0 50px var(--colors-interface-accent);
}

.placed-order-details__id-title {
    text-transform: lowercase;
}

.placed-order-details__status-icon-wrapper {
    align-items: center;
    background-image:
        url('/src/images/order-status-icons-wrapper/01.png'),
        url('/src/images/order-status-icons-wrapper/02.png'),
        url('/src/images/order-status-icons-wrapper/03.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 120px;
    width: 120px;
}

.placed-order-details__status-title {

}

.placed-order-details__message {
}

