.burger-ingredient-type {

}

.burger-ingredient-type__ingredient-list {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    list-style: none;
    margin: 0;
}

.burger-ingredient-type__ingredient-list li:nth-child(4n) {
    grid-column: span 3;
}
