.burger-ingredients {
    display: grid;
    grid-template-rows: min-content min-content minmax(0, 1fr);
}

.burger-ingredients__filter {
    display: flex;
}

.burger-ingredients__filter > div {
    flex-grow: 1;
}

.burger-ingredients__type-list {
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
}

.burger-ingredients__type-item {

}
