.burger-ingredient {
    position: relative;
}

.burger-ingredient_interactive {
    cursor: pointer;
}

.burger-ingredient__image-wrapper {
    display: flex;
    justify-content: center;
}

.burger-ingredient__price-wrapper {
    justify-content: center;
}

.burger-ingredient__title {
    text-align: center;
}
